body {
    width: 100%;

    font-family: 'Roboto', sans-serif;

    background-color: #FAFAFA;

    padding-bottom: 30px;
}

.header {
    width: 100%;
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 10;
}

.header h1 {
    font-weight: 700;
    font-size: 37px;
    
    color: #FFFFFF;

    cursor: pointer;
}

.layout-1 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 146px;
}

.your-quizzes {
    width: 1051px;
    height: 181px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 7px;
}

.your-quizzes p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #B9B9B9;
}

.your-quizzes .create-quizzes {
    width: 151px;
    height: 40px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 23px;

    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;

    cursor: pointer;
}

.all-quizzes-title {
    width: 1051px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

    margin-top: 77px;
    margin-bottom: 12px;
}

.all-quizzes {
    width: 1051px;

    display: flex;
    flex-wrap: wrap;

    gap: 15px;
}

.quizz {
    position: relative;
}

.all-quizzes .quizz-img {
    width: 340px;
    height: 181px;
    
    border-radius: 5px;
}

.gradient {
    width: 340px;
    height: 181px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);  
    border-radius: 5px;

    position: absolute;
    top: 0;

    cursor: pointer;
}

.all-quizzes .quizz-name {
    width: 300px;
    height: 54px;

    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

    color: #FFFFFF;

    display: flex;
    align-items: center;

    margin: 0 20px;

    position: absolute;
    bottom: 10px;

    z-index: 1;

    cursor: pointer;
}

.layout-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
    background: #E5E5E5;
}

.banner{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 69px;
    width: 100%;
    position: relative;
}

.banner img{
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.banner-title{
    position: absolute;
    width: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    height: 227px;
    margin-top: 69px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    font-weight: normal;
    font-size: 39px;
    line-height: 46px;  

    color: #FFFFFF;
}

.box-quizz{
    width: 759px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 42px;
    padding: 28px 35px;
    background: #FFFFFF;
    box-sizing: border-box;
}


.options-quizz{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option{
    margin-bottom: 18px;
    width: 330px;
}

.option img{
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.quizz-title{
    background: #434CA0;
    height: 138px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 15px;
}

.quizz-title h1{
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.unselected{
    opacity: 60%;
    pointer-events: none;
}

.unselected p{
    color: #FF4B4B;
}

.selected-answer{
    pointer-events: none;
}

.option p{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    margin-top: 8px;
}

.selected-answer p{
    color: #009C22;
}

.layout-3 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 140px;
}

.layout-3 .beginning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-3 .sub-title {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

    color: #000000;

    margin-bottom: 30px;

    display: flex;
    justify-content: center;
}

.layout-3 .inputs-div {
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 14px;

    padding-top: 24px;

    background-color: #FFFFFF;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.layout-3 .beginning .inputs-div, .layout-3 .levels .inputs-div{
    padding: 24px 0;
}

.layout-3 input {
    width: 564px;
    height: 46px;

    text-indent: 23px;
    display: flex;
    align-items: center;
    font-size: 19px;
    
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
}

.layout-3 input::placeholder {
    font-style: italic;
    font-weight: 400;

    color: #BABABA;
}

.layout-3 .continue-button {
    width: 370px;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 85px;

    background-color: #EC362D;
    border-radius: 15px;

    cursor: pointer;
}

.layout-3 .continue-button p {
    font-weight: 400;
    font-size: 21px;

    color: #FFF5F4;
}

.layout-3 .questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-3 .questions div {
    margin-bottom: 24px;
}

.layout-3 .questions input {
    margin-top: 14px;
}

.layout-3 .sub-sub-title {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;

    color: #000000;
}

.layout-3 .incorrect-answers input:nth-child(3),.layout-3 .incorrect-answers input:nth-child(5) {
    margin-bottom: 40px;
}

.layout-3 .minimize {
    width: 564px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    cursor: pointer;
}

.layout-3 .minimize ion-icon {
    font-size: 23px;
}

.layout-3 .continue-to-levels {
    margin-top: 40px;
}

.layout-3 .levels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-3 .levels input {
    margin-top: 14px;
}

.layout-3 .levels .inputs-div {
    margin: 12px;
}

.layout-3 .finish-quizz {
    margin-top: 70px;
}

.hidden {
    display: none;
}

.layout-3 .hidden {
    display: none;
}


@media (max-width: 1100px) {

    .layout-1 {
        width: 90%;

        margin: 0 auto;
        margin-top: 146px;
    }

    .your-quizzes {
        width: 100%;
    }

    .all-quizzes-title {
        width: 100%;
    }

    .all-quizzes {
        width: 100%;

        justify-content: center;
    }

    .banner-title, .banner img, .banner{
        height: 142px;
    }

    .banner-title h1{
        font-size: 19px;
    }

    .box-quizz{
        width: 100%;
        padding: 16px 16px;
        margin-top: 22px;
    }
    
    .option{
        width: auto;
        width: 48%;
    }

    .banner-title, .banner img, .banner{
        height: 142px;
    }

    .option p{
        font-size: 13px;
        line-height: 15px;
    }

    .banner-title h1{
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        padding: 0 8px;
    }

    .quizz-title h1{
        line-height: 22px;
        text-align: center;
        font-size: 19px;
        padding: 0 5px;
    }

    .option img{
        height:80%;
        object-fit: cover;
    }

    .layout-3 .beginning {
        width: 100%;
    }

    .layout-3 .inputs-div {
        width: 100%;
    }

    .layout-3 input {
        width: 90%;

        text-indent: 14px;
        margin: 0 auto;
    }

    
    .layout-3 .questions {
        width: 100%;
    }
    
    .layout-3 .questions p {
        width: 90%;
        
        margin: 5px 0 10px 0;
    }
    
    
    .layout-3 .question {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .layout-3 .correct-answer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .layout-3 .incorrect-answers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .layout-3 .open {
        width: 100%;
    }
    
    .layout-3 .closed {
        width: 100%;
    }
    
    .layout-3 .minimize {
        width: 90%;
        
        margin: 0 10px;
    }
    
    .layout-3 .levels {
        width: 100%;
    }
    
    .layout-3 .levels p {
        width: 90%;
    }
    
    .layout-3 .continue-button {
        width: 85%;
    }

    .layout-3 .continue-button p {
        width: auto;
        
        font-size: 18px;
    }

    .layout-3 .level-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}












































































