body {
    width: 100%;

    font-family: 'Roboto', sans-serif;

    background-color: #FAFAFA;
}

.header {
    width: 100%;
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 10;
}

.header h1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 37px;
    
    color: #FFFFFF;

    cursor: pointer;
}

.layout-1 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 146px;
}

.hidden {
    display: none;
}

.your-quizzes {
    width: 1051px;
    height: 181px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 7px;
}

.your-quizzes p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #B9B9B9;
}

.your-quizzes .create-quizzes {
    width: 151px;
    height: 40px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 23px;

    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;

    cursor: pointer;
}

.all-quizzes-title {
    width: 1051px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

    margin-top: 77px;
    margin-bottom: 12px;
}

.all-quizzes {
    width: 1051px;

    display: flex;
    flex-wrap: wrap;

    gap: 15px;
}

.quizz {
    position: relative;
}

.all-quizzes .quizz-img {
    width: 340px;
    height: 181px;
    
    border-radius: 5px;
}

.gradient {
    width: 340px;
    height: 181px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);  
    border-radius: 5px;

    position: absolute;
    top: 0;

    cursor: pointer;
}

.all-quizzes .quizz-name {
    width: 300px;
    height: 54px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

    color: #FFFFFF;

    display: flex;
    align-items: center;

    margin: 0 20px;

    position: absolute;
    bottom: 10px;

    z-index: 1;

    cursor: pointer;
}

/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */
/* espaço para colocar as coisas do layout 2 */




.layout-3 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 140px;
}

.layout-3 .beginning {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.layout-3 .sub-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

    color: #000000;

    margin-bottom: 30px;
}

.layout-3 .inputs-div {
    width: 600px;
    height: 256px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 9px;

    background-color: #FFFFFF;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.layout-3 .input {
    width: 564px;
    height: 46px;

    text-indent: 23px;
    display: flex;
    align-items: center;
    font-size: 19px;
    
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
}

.layout-3 .input::placeholder {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;

    color: #BABABA;
}

.layout-3 .continue-to-questions {
    width: 370px;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 85px;

    background-color: #EC362D;
    border-radius: 15px;
}

.layout-3 .continue-to-questions p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;

    color: #FFF5F4;

}





@media (max-width: 1100px) {

    .layout-1 {
        width: 90%;

        margin: 0 auto;
        margin-top: 146px;
    }

    .your-quizzes {
        width: 100%;
    }

    .all-quizzes-title {
        width: 100%;
    }

    .all-quizzes {
        width: 100%;

        justify-content: center;
    }

    .layout-3 .beginning {
        width: 100%;
    }

    .layout-3 .inputs-div {
        width: 100%;
    }

    .layout-3 .input {
        width: 90%;

        text-indent: 14px;
        margin: 0 auto;
    }

    .layout-3 .continue-to-questions {
        width: 80%;
    }

    .layout-3 .continue-to-questions p {
        font-size: 18px;
    }

}












































































